.table-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.icon {
  margin: 0 5px;
  cursor: pointer;
}


  